body {
	background-color: rgba(69, 102, 142, 0.75);
}

.bg {
	position: fixed;
	height: 100vh;
	left: 0;	
	right: 0;
	z-index: -1;

	background: url(../img/bg.jpg) no-repeat left center / cover;
	-webkit-filter: blur(3px);
  	-moz-filter: blur(3px);
  	-o-filter: blur(3px);
  	-ms-filter: blur(3px);
  	filter: blur(3px); 	
}

.bg:before {
	content: '';
	display: block;
	position: fixed;
	height: 100%;
	width: 100%;
	background: rgba(69, 102, 142, 0.75);
}

.login-page {
	font-family: 'Comfortaa', sans;
}

.login-page .container {
	height: 100vh;
	padding-bottom: 10%;
}

.btn i {
	color: rgb(69, 102, 142);
}

/* MAIN PAGE */

#main-page {
	background-color: #edeef0;
	height: 100vh;
}

#main-page .sidebar,
#main-page .main {
	background: #fff;
	box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}

#main-page nav a {
	color: #285473;
}