.carousel-main
  .carousel-main__item.carousel-main__darken(style="background: #5F4B8B url(./i/food.png);")
    .grid-container: .grid-x.grid-padding-x.align-center.carousel-main__content
      .cell.medium-14.align-self-middle.text-left.medium-text-center.text-white
        h2.medium-text-center Ваши любимые
          span рецепты
        a.button.button-outline.button-outline-white(href='#') Узнать
        .carousel-main__text
          | Вы также можете прислать свои рецепты и 
          a(href="#") получить бонус
  .carousel-main__item.carousel-main__darken(style="background: #5F4B8B url(./i/burger.jpg);")
    .grid-container: .grid-x.grid-padding-x.align-center.carousel-main__content
      .cell.medium-14.align-self-middle.text-left.medium-text-center.text-white
        h2.medium-text-center Ваши любимые 
          span рецепты
        a.button.button-outline.button-outline-white(href='#') Узнать
        .carousel-main__text
          | Вы также можете прислать свои рецепты и 
          a(href="#") получить бонус
