header.header
  .grid-container: .grid-x.grid-padding-x
    .cell.small-auto.large-2.header__info
      a(href='#' title='FUDI')
        img(src='./images/logo.svg',  alt='logo').header__logo
    .small-4.cell.header__hamb
      div(data-responsive-toggle='menu', data-hide-for='medium')
        div(data-toggle)
          i.fas.fa-bars
    .small-24.large-11.large-offset-1.cell.align-self-middle#menu
      ul.cat.align-justify
        li.cat__item
          a.cat__link(href='#') О нас
        li.cat__item
          a.cat__link(href='#') Наши услуги
        li.cat__item
          a.cat__link(href='#') Медиа
        li.cat__item
          a.cat__link(href='#') Отзывы
        li.cat__item
          a.cat__link(href='#') Контакты
    .small-24.large-5.large-offset-1.cell.header__search.align-self-middle
      form
        input.header__input(type='text')
        button.header__button(type='submit')
          i.fas.fa-search
    .small-24.large-4.cell.header__phone.align-self-middle
      a(href='#') +7 (900) 55 68 99
