.info
  .grid-container: .grid-x.grid-padding-x.small-up-1.medium-up-3(data-equalizer='services' data-equalize-on='medium')
    .cell
      .services(data-equalizer-watch='services')
        .services__block
          img(src='./images/icon1.png' alt='Вдохновение').services__img
        h2.services__title Вдохновение
        .services__block.margin-top-6
          | Lorem ipsum dolor sit amet, consectetur adipisc 
          | Pellentesque vel enim a elit viverra elementuma.
          | Aliquam erat volutpat. 
    .cell
      .services(data-equalizer-watch='services')
        .services__block
          img(src='./images/icon2.png' alt='Вознаграждение').services__img
        h2.services__title Вознаграждение
        .services__block.margin-top-6
          | Lorem ipsum dolor sit amet, consectetur adipisc 
          | Pellentesque vel enim a elit viverra elementuma.
          | Aliquam erat volutpat. 
    .cell
      .services(data-equalizer-watch='services')
        .services__block
          img(src='./images/icon3.png' alt='Сообщество').services__img
        h2.services__title Сообщество
        .services__block.margin-top-6
          | Lorem ipsum dolor sit amet, consectetur adipisc 
          | Pellentesque vel enim a elit viverra elementuma.
          | Aliquam erat volutpat. 
