head
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='copyright', content='Создание сайтов - Cetera Labs, www.cetera.ru, 2018')
    meta(name='author' content='Cetera Labs, http://www.cetera.ru/, создание сайтов, поддержка сайтов, продвижение сайтов')
    meta(name='cmsmagazine', content='f21b68cb09efe1a7161ca2caaacaf749')
    title FUDI
    link(rel='stylesheet', href='css/style.css')

    meta(property="og:title" content="FUDI")
    meta(property="og:description" content="FUDI — Ваши любимые рецепты")
    meta(property="og:image" content="http://wireframes.cetera.ru/boilerplate_wireframe/images/logo_og.png")
    meta(property="og:image:width" content="600")
    meta(property="og:image:height" content="400")
    meta(property="og:type" content="website")
    meta(property="og:url" content= "http://wireframes.cetera.ru/boilerplate_wireframe/")
    meta(property="og:locale" content="ru_RU")

    //https://realfavicongenerator.net/
    link(rel="apple-touch-icon", sizes="180x180", href="./images/favicon/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="./images/favicon/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="194x194", href="./images/favicon/favicon-194x194.png")
    link(rel="icon", type="image/png", sizes="192x192", href="./images/favicon/android-chrome-192x192.png")
    link(rel="icon", type="image/png", sizes="16x16", href="./images/favicon/favicon-16x16.png")
    link(rel="manifest", href="./images/favicon/site.webmanifest")
    link(rel="mask-icon", href="./images/favicon/safari-pinned-tab.svg", color="#5f4b8b")
    link(rel="shortcut icon", href="./images/favicon/favicon.ico")
    //- link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700")
    meta(name="msapplication-TileColor", content="#5f4b8b")
    meta(name="msapplication-config", content="./images/favicon/browserconfig.xml")
    meta(name="theme-color", content="#5f4b8b")