.catalog
	h2.catalog__title Список рецептов
	ul.catalog__list
		li.catalog__link.current: a(href='#')
			| Новые рецепты
		li.catalog__link: a(href='#')
			| Рекомендуемые экспертами
		li.catalog__link: a(href='#')
			| Избранные рецепты
		li.catalog__link: a(href='#')
			| Популярные рецепты
		li.catalog__link: a(href='#')
			| Быстрые рецепты
		li.catalog__link: a(href='#')
			| Разовые рецепты
		li.catalog__link: a(href='#')
			| Разное