.grid-container: .grid-x.grid-padding-x: .cell.footer__bottom
	.footer__copyright
		| &copy;&nbsp;2018&nbsp;Cetera&nbsp;Labs&nbsp;All&nbsp;Rights&nbsp;Reserved.
	.footer__sign
		| Design by: 
		a(href='#') Cetera Labs
