ul.pagination
    li.pagination-previous
        i.fas.fa-angle-double-left(data-fa-transform="shrink-6")
    li.current
        span.show-for-sr Вы на странице
        |  1
    li
        a(href='#' title='' aria-label='Страница 2') 2
    li
        a(href='#' title='' aria-label='Страница 3') 3
    li
        a(href='#' title='' aria-label='Страница 4') 4
    li
        a(href='#' title='' aria-label='Страница 5') 5
    li.pagination-next
        a(href='#' title='' aria-label='Следующая страница')
            i.fas.fa-angle-double-right(data-fa-transform="shrink-6")