h2 Заголовок для текста
p
  | Morbi eget posuere dolor. Pellentesque cursus aliquet aliquet. Aeneanet felis sit amet diam mollis ullamcorper
  | Nullam consequat sem a ante vest ibulum tristique. Suspendisse tristique lacus ac mattis porta.
h3 Подзаголовок
p
    | Vivamus ligula quam, vehicula non lacinia sed, faucibus sit amet libero. In libero dui, eleifend eu nisi id, egestas
    | fringilla odio. In varius quam a mas sa hendrerit ullamcorper a eu justo. Suspendisse porta mattis convallis. 
    | Aenean tempus ligula ac odio rhoncus, quis aliquam dolor accumsan.
ul
    li Morbi eget posuere dolor 
    li Suspendisse porta mattis convallis
    li Aenean tempus ligula ac odio rhoncus, quis aliquam dolor accumsan
.table-scroll
  table
    thead
      tr
        th Подзаголовок таблицы
        th Колонка2
        th Колонка3
        th Колонка4
    tbody
      tr
        td Morbi eget posuere dolor. Pellentesque cursus aliquet aliquet.
        td 15 000
        td 25 000
        td 35 000
      tr
        td Morbi eget posuere dolor. Pellentesque cursus aliquet aliquet.
        td 20 000
        td 30 000
        td 40 000
      tr
        td Morbi eget posuere dolor. Pellentesque cursus aliquet aliquet.
        td 45 000
        td 55 000
        td 65 000

