.breadcrumbs {
  margin-top: 12*$global-margin;
  margin-bottom: 6*$global-margin;
  
  
  li {
  	font-family: "Lato";
  	font-size: 16px;
  	text-transform: none;
    font-weight: bold;
  }
  
  a {
    color: $secondary-color;
  }

  & li:not(:last-child)::after {
	position: relative;
    margin: 0 rem-calc(10);
    opacity: 1;
    content: "/";
    color: $black;
  }
}
