.button {
  padding: rem-calc(18px 45px 20px);
  margin-top: rem-calc(21);
  margin-bottom: rem-calc(41);
  font-size: rem-calc(18);
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  
  &.button-outline {
    background: transparent;
    border: 2px solid #000;
    border-radius: 5px;
    color: #000;

    &.button-outline-white {
      border-color: #fff;
      color: #fff;
    }

    &:active,
    &:focus,
    &:hover {
      color: $white;
      border-color: scale-color($primary-color, $lightness: -15%);
    }
  }

  &:active,
  &:focus,
  &:hover {
    background: scale-color($primary-color, $lightness: -15%);
  }

  &_input {
    border-radius: 0 $global-radius $global-radius 0;
  }

  &_prod {
    font-size: rem-calc(11);
    margin-bottom: rem-calc(0);
    background: none;
    border: rem-calc(1) solid $primary-color;
    color: $primary-color;

    &:active,
    &:focus,
    &:hover {
      background: $primary-color;
      border-color: $primary-color;
      color: $white;
    }
  }

  &_large {
    font-size: rem-calc(18);
  }

  &_expanded {
    display: block;
    width: 100%;
    padding-left: rem-calc(7);
    padding-right: rem-calc(7);
    margin-right: 0;
    margin-left: 0;
  }

  &_dropdown {
    &:after {
      width: 0;
      height: 0;
      border: inset 0.4rem;
      content: '';
      border-bottom-width: 0;
      border-top-style: solid;
      border-color: $white transparent transparent;
      position: relative;
      top: 0.4rem;
      display: inline-block;
      float: right;
      margin-left: 1rem;
    }
  }

  &_hollow {
    background: none;
    border: rem-calc(1) solid $primary-color;
    color: $primary-color;

    &:active,
    &:focus,
    &:hover {
      background: $primary-color;
      border-color: $primary-color;
      color: $white;
    }

    &.button_dropdown {
      &:after {
        border-color: $primary-color transparent transparent;
      }

      &:active,
      &:focus,
      &:hover {
        &:after {
          border-color: $white transparent transparent;
        }
      }
    }
  }

  &_secondary {
    background: $secondary-color;
    color: $white;
  }
}
