.cat {
  display: flex;
  flex-flow: row wrap;
  font-weight: 500;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  text-transform: uppercase;
  z-index: 100;

  &_top {
    margin-top: rem-calc(5);
  }

  &__item {
    @include disable-mouse-outline;
    position: relative;

    & .cat {
      background: scale-color($main-color, $lightness: 50%);
      border-bottom: rem-calc(2) solid $warning-color;
      display: none;
      font-weight: 400;
      left: 0;
      margin: rem-calc(-3 0 0) -1rem;
      padding: 0.5rem 0;
      position: absolute;
      text-transform: none;
      top: 100%;
      width: 13rem;

      & .cat {
        left: 100%;
        top: 0;
      }
    }

    & .cat__item {
      padding: 0;
      width: 100%;

      & .cat__link {
        color: $secondary-color;
        display: block;
        padding: 0.5rem 1rem;

        &:after {
          display: none;
        }

        &:hover {
          color: $secondary-color;
          background: scale-color($main-color, $lightness: -5%);
        }
      }
    }

    &:hover > .cat {
      display: block;
    }

    &:hover > .cat__link:after {
      width: 100%;
    }

    & .cat .cat__item:hover > .cat {
      display: block;
    }
  }

  &__link {
    @include disable-mouse-outline;
    color: $secondary-color;
    display: block;
    position: relative;

    &:active,
    &:focus,
    &:hover {
      color: $secondary-color;
    }

    &:after {
      border-bottom: rem-calc(2) solid $warning-color;
      content: ' ';
      display: block;
      left: 0;
      position: absolute;
      width: 0;
      -webkit-transition: width 0.3s ease;
      -moz-transition: width 0.3s ease;
      -ms-transition: width 0.3s ease;
      -o-transition: width 0.3s ease;
      transition: width 0.3s ease;
    }
  }
  @include breakpoint(large down) {
    &_top {
      margin-top: rem-calc(0);
    }

    &__item {
      padding-bottom: rem-calc(5);
      padding-right: rem-calc(15);
      padding-top: rem-calc(5);

      & .cat .cat__item:hover > .cat {
        display: none;
      }
    }
  }
  @include breakpoint(medium down) {
    justify-content: center;
    margin-top: rem-calc(21);
    &_top {
      margin-top: rem-calc(0);
    }

    &__item {
      &:hover {
        & > .cat {
          display: none;
        }

        & > .cat__link:after {
          width: 0;
        }
      }
    }
  }
  @include breakpoint(small only) {
    &__item {
      width: 100%;
    }
  }
}
