.footer {
  padding-top: rem-calc(36);
  padding-bottom: rem-calc(24);
  color: #010101;
  background: #f7f7f7;
  border-top: 1px solid #e2e2e2;
  
  .grid-x {
    align-items: baseline;
  }

  &__bottom {
    font-size: rem-calc(13);
    @include margin-level(top,yellow);
    text-align: center;
  }

  &__search {
    background: $main-color;
    border-color: #f7f7f7;
    border-radius: 2.78571rem;
    box-shadow: inset 0.5px 0.5px 3px 0.5px #b7b7b7;
  
    -webkit-transition: box-shadow 300ms ease-in-out;
    -moz-transition: box-shadow 300ms ease-in-out;
    -ms-transition: box-shadow 300ms ease-in-out;
    -o-transition: box-shadow 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out;
    -webkit-transition: border 300ms ease-in-out;
    -moz-transition: border 300ms ease-in-out;
    -ms-transition: border 300ms ease-in-out;
    -o-transition: border 300ms ease-in-out;
    transition: border 300ms ease-in-out;

    &:focus-within {
      box-shadow: inset 0.5px 0.5px 3px 0.5px #f57365;
      border-color: #f57365;
    }
    
    form {
      margin: 0;
      padding: 3px 10px 3px 0;
      display: flex;
    }

    & .footer__input {
        margin-bottom: 0;
        padding: rem-calc(20 15);
        border: 0;
        box-shadow: none;
        background: transparent;
    }

    & .footer__button:focus {
      outline: none;
    }
  }

  &__link {
    font-weight: 500;
    display: block;
    color: #010101;
    font-size: rem-calc(14px);
    font-family: "Lato", sans-serif;
    font-weight: bold;
    text-transform: uppercase;

    &:active,
    &:focus,
    &:hover {
      color: #010101;
      text-decoration: underline;
    }
  }

  &__info {
    margin-bottom: rem-calc(21);
  }

  &__copyright {
    color: #c8c8c8;
  }

  &__phone {
    a {
      font-weight: 500;
      display: block;
      color: #000;
      font-size: rem-calc(18px);
      font-family: "Lato", sans-serif;
      font-weight: bold;
      text-transform: uppercase;
      text-align: right;
    }
    
    &:active,
    &:focus,
    &:hover {
      color: $secondary-color;
    }
  }

  &__email {
    a {
      font-weight: 500;
      display: block;
      color: #f57365;
      font-size: rem-calc(16px);
      font-family: "Lato", sans-serif;
      font-weight: bold;
      text-align: right;
    }
    
    &:active,
    &:focus,
    &:hover {
      color: lighten($secondary-color, 2);
    }
  }

  &__bottom {
    justify-content: space-between;
    display: flex;
    font-family: "Lato", sans-serif;
    font-size: rem-calc(14px);
    & .footer__copyright {
      font-weight: 300;
    }
    & .footer__sign {
      color: #b6b6b6;
      text-transform: uppercase;
      letter-spacing: 5px;
      a {
        color: #000;
        text-transform: capitalize;
        font-weight: bold;
        letter-spacing: 3px;
      }
    }
  }

  &__nav {
    margin-bottom: rem-calc(12);
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    width: rem-calc(140);
  }

  &__block {
    @include margin-level(bottom,red);
  }
}
